extends /layout/basic.pug

block title
  title 地铁图

block head-styles
  +libCSS("element-ui.min.css")
  +css(index.css)

block content
  div#window
    medio-header(":currentRoute"="'/subway'" ":disableNav"="false")
    ul(class="subway__navlist" "v-if"="!$route.name")
      li.navitem.navitem__data
        router-link(class="navlink" to="data") 数据制备
      li.navitem.navitem__admin
        router-link(class="navlink" to="admin") 离线包管理
    keep-alive("v-else")
      router-view

block body-scripts
  +libJS("vue.min.js")
  +libJS("vue-router.min.js")
  +libJS("vuex.min.js")
  +libJS("element-ui.min.js")
  +js(index.js)