extends /layout/basic.pug

block title
  title 地铁图

block head-styles
  +libCSS("element-ui.min.css")
  +css(index.css)

block content
  div#window
    ci-header
    router-view

block body-scripts
  +libJS("vue.min.js")
  +libJS("vue-router.min.js")
  +libJS("vuex.min.js")
  +libJS("element-ui.min.js")
  +js(index.js)
