$color-white: #ffffff;
$color-black: #000000;
$color-grey: #DCDFE6;
$color-darkgrey: #909399;
$color-darkergrey: #5f5f5f;
$color-darkestgrey: #6c6c6c;
$color-lightgrey: #E4E7ED;
$color-blue: #067ffa;
$color-lightblue: #5ea8fb;
$color-lighterblue: #edf5fe;
$color-orange: #ed5026;
$color-green: #45cd09;
$color-lightgreen: #8ed866;
$color-red: #f43838;
$color-lightred: #ee708d;
$color-yellow: #fcfad9;
$color-darkyellow: #d6d3a3;
$color-brown: #7e3f14;
$color-golden: #ffd04b;